*{
    margin: 0;
padding: 0;
}
.container .frame{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .lin{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .lin a{
    margin-top: 50px;
    margin-left: 30px;
    text-decoration: none;
    background:red;
    padding: 10px;
    border: 1px solid green;
    box-sizing: border-box;
    box-shadow: 5px 5px 4px black;
    color: white;
    font-size: larger;
    font-weight: 500;
    font-family:sans-serif;
}
a:hover{
    scale: 1.1;
}